/*CSS Reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------------------------*/
/*Color Pallet*/
:root {
    --paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --main-text: #0C0C0C;
    --floating-text: #F2F0FF;
    --service-text: #7A7A7A;
    --projecten: #F3F6F9;
}
/*--------------------------------------------------------------*/
/*Global styles*/
h1{
    font-family: 'Merriweather', serif;
}

h2{
    font-family: 'Merriweather', serif;
}

h3{
    font-family: 'Merriweather', serif;
    color: var(--paars);
}

h4{
    font-family: 'Merriweather', serif;
    color: var(--paars);
}

p{
    font-family: 'roboto', serif;
    font-weight: bold;
}


div > p{
    font-family: 'roboto', serif;
}

button{
    font-family: 'roboto', serif;
}

a{
    font-family: 'roboto', serif;
    text-decoration: none;
    color: var(--paars);
    font-weight: bold;
}

img{
    width: 100%;
    box-shadow: 20px 20px 50px grey;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.icon{
    width: 30%;
    box-shadow: none;
}
/*--------------------------------------------------------------*/
/*Header*/
header{
    display: flex;
    background: rgb(71,80,122);
    background: radial-gradient(circle, rgba(71,80,122,1) 0%, rgba(93,75,203,1) 100%);
    flex-direction: column;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 50px;
}

ul{
    display: flex;
    text-decoration: none;
    gap: 40px;
    list-style: none;
}

.nav_header_link {
    color: white;
    text-decoration: none;
}
.div_header {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 200px;
}

button {
    color: white;
    padding: 15px;
    background-color: var(--Roze);
    width: 200px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 1px 2px 3px black;
}

.div_image_header{
    background-image: url("../assets/squiggle_line_stripe.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-basis: 150px;
}
/*--------------------------------------------------------------*/
/*Main*/
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: -40px;

}
/*--------------------------------------------------------------*/
/*AboutUs Section*/
.section_aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

.div_section_aboutus{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 50px 200px;
}

.div_section_aboutus_link{
    font-weight: bold;
}

.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-right: 2000px solid transparent;
}


.triangle-bottom-left2 {
    width: 0;
    height: 0;
    border-bottom: 50px solid black;
    border-right: 2000px solid transparent;
}

/*--------------------------------------------------------------*/
/*Projects Section*/
.section_projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--projecten);
    gap: 100px;
    padding:100px 0 100px;
}

.article_section_projects_1{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 0 50px 0;
}
.article_section_projects_2{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 0 50px 0;
    flex-direction: row-reverse;
}
.article_section_projects_3{
    display: flex;
    padding: 0 50px 0;
    justify-content: space-between;
    gap: 200px;
}

.div_section_projects{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 300px;
}

.div_image {
    background-image: url("../assets/squiggle_line.svg");
    background-repeat: no-repeat;
    flex-basis: 20px;
}

.section_services{
    display: flex;
    justify-content: center;
    padding: 0 150px 0;
}

.div_section_services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1350px;
    gap: 40px;
    margin-top: 50px;

}

.div_div_section_services{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: var(--paars);
    flex-basis: 420px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    gap:40px;
}

.div_div_section_services > p{
    font-weight: normal;
}

/*--------------------------------------------------------------*/
/*Form Section*/
.form_section{
    padding: 100px 0 50px;
    display: flex;
    justify-content: center;
    background: rgb(71,80,122);
    background: radial-gradient(circle, rgba(71,80,122,1) 0%, rgba(93,75,203,1) 100%);
}

.div_form_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-basis: 1000px;
    padding: 0 50px 0;
}

.text_div_form_section{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: normal;
}

.div_form_section > p{
    color: white;
    font-weight: normal;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-family: 'roboto', serif;
}

input{
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-style: none;
    border-radius: 5px;
    color: var(--service-text);
}

.message{
    padding-bottom: 100px;
}

.send_button_form_section{
    width: 200px;
    background-color: var(--Roze);
    border-radius: 20px;
    margin-left: 370px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-style: none;
    color: white;
}
/*--------------------------------------------------------------*/
/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 80px 0 50px;
    background-color: #0C0C0C;
    color: white;
}
/*--------------------------------------------------------------*/
